code/dependancies/__pycache__
latex/template
latex/*.blg
latex/*.bbl
latex/*.aux
latex/*.bcf
latex/*.log
latex/*.toc
latex/*.xml
latex/*.gz
latex/*.fls
latex/*Notes.bib
latex/*.fdb_latexmk
latex/*.fuse*
!latex/reu-report.tex
!latex/reu-report.bib
!latex/reu-report.pdf